@import url("reset.css");

/*
**
** COMMONS
**
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}
.resp_image {
    display: block;
}

.wrapper {
    margin: 0 auto;
}

.w-1150 {
    width: 1150px;
}
.w-160 {
    width: 160px;
}
.clearfix {
    overflow: hidden;
}
.color-grayish {
    color: #8a9b9c;
}

.ruler {
    border: none;
    border-bottom: 1px solid #c5c5c5;
}

.btn {
    font-size: 14px;
    padding: 15px;
    border-radius: 4px;
    border: none;
}

.btn-orange {
    background-color: #eea345;
    color: #FFFFFF;
}

/*
**
** HEADER
**
*/

.header {
    background-color: #2d8dd6;
}

.header_bar {
    padding: 20px 0;
    margin-bottom: 125px;
}

.featured_content {
    width: 50%;
    float: left;
}

.featured_content h1 {
    font-size: 45px;
    font-weight: 100;
    color: #FFFFFF;
    margin: 20px 10px;
}


.header_logo {
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
}
.header_menu {
    float: right;
    list-style: none;
}
.header_menu li {
    display: inline;
    margin: 0 10px;
}
.header_menu li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
}



/*
**
** PRODUCTS
**
*/
.products_heading {
    width: 520px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.products_heading h2,
.products_heading p {
    font-weight: 100;
    margin: 10px;
}

.products_heading h2 {
    font-size: 40px;
    color: #333333;
}

.products_heading p {
    font-size: 18px;
}


.products_row {
    overflow: hidden;
    margin-bottom: 40px;
}

.product {
    width: 353px;
    margin: 15px;
    float: left;
    text-align: center;
}
.product img {
    display: block;
}
.product h4 {
    font-size: 18px;
    margin: 10px 0;
}
.product p {
    color: #757575;
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
}


.mid_section {
    margin-top: 40px;
    margin-bottom: 40px;
}
.subscription_form {
    width: 404px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subscription_form input {
    width: 280px;
    height: 40px;
    border: 1px solid #c5c5c5;
    font-size: 14px;
    color: #333333;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #fff;
}
.subscription_form fieldset {
    margin: 2px 4px;
}
.subscription_form fieldset,
.subscription_form button {
    float: left;
}